body,html
  // min-width:960px
ul,li
  list-style:none
.router-link-active
  color:#d60372 !important
.module-title
  text-align: center
  margin-top:60px
.sub-title
  text-align: center
  margin-bottom: 60px
  font-size: 14px
  color: #8a8787
.clearfix
  display:inline-block
  &:after
    display:block
    content:''
    line-height:0
    height:0
    clear:both
    visibility:hidden

@media screen and (min-width:1280px)
  .index-form
    padding:0 244px
@media screen and (max-width:414px)
  .jumbotron
    height:auto !important
    .banner-item
      // margin-bottom:0px !important
    .hello
      font-size:10px !important
    .fistname
      float:left
      display: inline-block;
      margin-right: 10px;
      font-size:20px !important
    .lastname
      float:left
      display: inline-block;
      font-size:20px !important
      background: linear-gradient(to right, #800080, #f00) !important
      -webkit-background-clip: text !important
      color: transparent !important
    .exe
      font-size:10px !important
    .name
      overflow: hidden
      display: inline-block
    .banner-btn
      margin-top:6px !important
      width: 140px !important
      height: 30px !important
      line-height: 20px !important
      border: none !important
      margin: 0 auto !important
      font-size: 10px !important
  .self-info
    text-align:center !important
